body{
    background: #FFFFFF url('images/arrPlan2.jpg') top center fixed;
    background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, -webkit-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, -moz-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, -o-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, -ms-linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0, rgba(119, 184, 238, 0.15) 1050px) no-repeat, url('images/arrPlan2.jpg') top center, linear-gradient(top, #FFFFFF 0, #A4D0F4 1050px) no-repeat;
    background-attachment: fixed, fixed, fixed !important;
    margin:0 auto;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor:default;
    overflow:scroll;
}



#containerWithPadding{
    padding-left:10%;
    padding-right:5%;
    padding-top:5px;
    padding-bottom:5%;
    height:900px;
    position: relative;
    cursor: auto;
}



#header{
    height:400px;

}

#blocVide{
    height:30px;

}

#contactBloc{
    height:80px;

    padding:05px;
}

.art-headline,
.art-headline a,
.art-headline a:link,
.art-headline a:visited,
.art-headline a:hover
{
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    padding: 0;
    margin: 0px 0px 0px 15px;
    color: #A6D5FC !important;
    white-space: nowrap;
}


.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover {
    font-size: 26px;
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: rgb(22, 110, 182) !important;
}
.art-slogan {
    display: inline-block;
    position: absolute;
    min-width: 50px;


    line-height: 100%;

    transform: rotate(0deg);
    z-index: 99;
    white-space: nowrap;
}
 Style menu

   .art-nav {
       background: none repeat scroll 0% 0% transparent;
       z-index: 100;
       font-size: 0px;
       position: absolute;
       margin: 0px;
       bottom: 0px;
       width: 100%;
       text-align: left;
   }

.nav{

    display: block;
    -moz-box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.cleared {
    font: 0/0 serif;
    clear: both;
}







.art-hmenu {
    float: left;
}


ul.art-hmenu {
    display: inline-block;
    vertical-align: bottom;
}
ul.art-hmenu, ul.art-hmenu ul {
    min-height: 0px;
}
ul.art-hmenu, ul.art-hmenu ul
{

    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}


table, ul.art-hmenu {
    font-size: 12px;
    font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}



ul.art-hmenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    padding: 0px;
    border: 0px none;
}




ul.art-hmenu li {
    z-index: 5;
    margin-left: 3px;

    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    border: 0px none;
    position: relative;
    display: block;
    float: left;
    padding: 0px;
}

ul.art-hmenu > li > a.active {
    background: -moz-linear-gradient(center top , rgba(148, 218, 43, 0.8) 0px, rgba(145, 216, 39, 0.8) 7%, rgba(108, 160, 28, 0.8) 100%) no-repeat scroll 0% 0% transparent;
    border-radius: 4px 4px 0px 0px;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: rgba(110, 165, 29, 0.8) rgba(110, 165, 29, 0.8) -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 0px 40px;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.art-hmenu a,
.art-hmenu a:link,
.art-hmenu a:visited,
.art-hmenu a.active,
.art-hmenu a:hover
{
    font-size: 14px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}


ul.art-hmenu>li>a:visited,
ul.art-hmenu>li>a:hover,
ul.art-hmenu>li:hover>a {
    text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
    background: #60ADEB;
    background: linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    background: linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(132, 192, 240, 0.6) 0, rgba(64, 156, 231, 0.6) 100%) no-repeat;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    border:1px solid rgba(96, 173, 235, 0.6);
    border-bottom:none;
    padding:0 40px;
    margin:0 auto;
}
ul.art-hmenu>li>a:hover,
.desktop-nav ul.art-hmenu>li:hover>a {
    color: #FFFFFF;
    text-decoration: none;
}

ul.art-hmenu li li a
{
    background: #97C9F2;
    border:1px solid #2E93E5;
    padding:0 8px;
    margin:0 auto;
}
ul.art-hmenu li li
{
    float: none;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}



header, footer,   nav, #art-hmenu-bg, .art-hmenu a,  {
    background-origin: border-box !important;
}




ul.art-hmenu>li {
    margin-left: 3px;
}
ul.art-hmenu>li:first-child {
    margin-left: 1px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
    margin-right: 1px;
}



ul.art-hmenu>li>a
{
    background: #FFFFFF;
    background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0, rgba(173, 213, 245, 0.5) 100%) no-repeat;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    border:1px solid rgba(46, 147, 229, 0.5);
    border-bottom:none;
    padding:0 40px;
    margin:0 auto;
    position: relative;
    display: block;
    height: 41px;
    cursor: pointer;
    text-decoration: none;
    color: #5492D9;
    line-height: 41px;
    text-align: center;
}



.art-content-layout{
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

.art-content-layout-row{
    display: table-row;
}

.layout-item-0 {
    color: rgb(38, 38, 38);
    background: url("images/banniere.jpg") no-repeat scroll 0% 0% rgb(245, 245, 243);
    background-size:100% 100%;
    padding: 0px !important;
}
.art-layout-cell {
    vertical-align: top;
    display: table-cell;
}

.art-content-layout h5 {
    color: rgb(255, 255, 255);
    margin-left: 50px;
    font-size: 55px;
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-Serif;
    text-align: left;
    line-height: 150%;
}




.titreAnn {
    margin: 12px 0px;
    padding-left: 20px;
}


.titreAnn h1 {
    color: rgb(142, 212, 38);
    margin: 30px 0px 10px;
    font-size: 26px;
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
}



.art-button
{
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #80BE22;
    background: linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    background: -webkit-linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    background: -moz-linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    background: -o-linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    background: -ms-linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    background: linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    -svg-background: linear-gradient(top, #94DA2B 0, #91D827 7%, #6CA01C 100%) no-repeat;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    border:1px solid #6EA51D;
    padding:0 30px;
    margin:0 auto;
    height:34px;
}
button.art-button
{
    text-decoration: none;
    font-size: 13px;
    font-family: 'Trebuchet MS', Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    position:relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #FFFFFF;
    margin: 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 34px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#content{



    position: relative;
    cursor: auto;

    z-index: auto !important;


}

.cell-layout{
    padding-left: 20px;
}


h6 {
    color: rgb(73, 161, 233)!important;

    font-size: 16px !important;
    font-family: 'Trebuchet MS',Arial,Helvetica,Sans-Serif !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-align: left !important;
}

#footer{
    height:70px;

    padding-right:17px;
    padding-left:17px;
    padding-bottom:0px !important;
    position: relative;
    color: rgb(112, 112, 112);
    font-size: 11px;
    font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif;
    text-align: left;
    display: block;
    -moz-box-sizing: border-box;
    background-origin: border-box !important;
    cursor: auto;

}

.backTest{
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.13);*/
}
.changePadding{
    padding-left:0px !important;
}

.footerElement{
    background: none repeat scroll 0% 0% rgba(222, 222, 222, 0.8);
    padding:0px !important;
    cursor: auto;
    font-weight: normal;
    font-style: normal;
    border-collapse: collapse;
    height:100%;
}
/*
#content >.col-md-12 div div {
   background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
   }
*/
.labelWeight{
    font-weight:normal !important;
}

.gold {
    color: gold;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.map-size {
    height: 250px;
    width: 96%;
    margin-bottom: 10px;
}

.item-footer {
    padding: 20px;
}

.medium-height {
    height: 790px;
}

.little-margin-bottom {
    margin-bottom: 5%;
}

.datepicker-style {
    display:inline-block;
    min-height:290px;
}

.googleMapCreation {
    height: 400px;
    width: 700px;
}