<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">
    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest " style="height: 790px;">

        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="alert alert-warning alert-dismissable" ng-show="info">
            <button type="button" class="close" ng-click="info = false">&times;</button>
            {{infoMessage}}
        </div>

        <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

        <div ng-show="loaded">
            <div>
                <h4 class="text-center text-info">{{filteredAccueillants.length}} accueillant<span ng-show="filteredAccueillants.length > 1">s</span>.
                </h4>
            </div>
        </div>

        <div class="visible-lg col-lg-3 pull-right">
            <div class="input-group">
                <input type="search" data-i-search-input="true" class="form-control"
                       data-autocomplete="true" placeholder="pseudo"
                       ng-model="query" ng-change="search()">
                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Rechercher</button></span>
            </div>
        </div>

        <br><br>

        <div class="col-lg-12">
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-1">Action</th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'pseudo']" ng-click="changeSorting('pseudo')">
                            <i ng-show="sort.column == 'pseudo'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>Pseudo</a>
                        </th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'firstname']" ng-click="changeSorting('firstname')">
                            <i ng-show="sort.column == 'firstname'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>Pr&eacute;nom</a>
                        </th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'lastname']" ng-click="changeSorting('lastname')">
                            <i ng-show="sort.column == 'lastname'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>Nom</a>
                        </th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'email']" ng-click="changeSorting('email')">
                            <i ng-show="sort.column == 'email'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>Email</a>
                        </th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'phonenumber']" ng-click="changeSorting('phonenumber')">
                            <i ng-show="sort.column == 'phonenumber'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>T&eacute;l&eacute;phone</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="accueillant in pagedAccueillants[currentPage] | filter:query | orderBy:sort.column:sort.descending"
                        ng-style="accueillant.listeNoireAccueillant ? {color: 'gray'} : {color: checkMarks(accueillant)}">
                        <td>
                            <a ng-if="!accueillant.listeNoireAccueillant" class="btn btn-danger btn-xs" ng-href="#/bannir/{{accueillant.id}}">Bannir</a>
                            <button ng-disabled="clicking" ng-if="accueillant.listeNoireAccueillant" class="btn btn-warning btn-xs" ng-click="debannir(accueillant)">Debannir</button>
                            <a class="btn btn-warning btn-xs" ng-href="#/avertir/{{accueillant.id}}">Avertir</a>
                        </td>
                        <td>
                            <a title="Ensemble des questionnaires pour cet accueillant" ng-href="#/location/questionnaire/list/{{accueillant.id}}">{{accueillant.pseudo}}</a>
                        </td>
                        <td>{{accueillant.firstname}}</td>
                        <td>{{accueillant.lastname}}</td>
                        <td><a title="Contacter l'utilisateur" ng-href="#/contacterAccueillant/{{accueillant.id}}">{{accueillant.email}}</a></td>
                        <td ng-if="accueillant.phonenumber">{{accueillant.phonenumber}}</td>
                        <td ng-if="!accueillant.phonenumber">Non renseign&eacute;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="visible-lg col-lg-7 pull-left">
            <p><span class="grey">Gris</span> : accueillant actuellement banni</p>
            <p><span class="red">Rouge</span> : moyenne des avis trop basse (&lsaquo; 2)</p>
        </div>

        <div>
            <div>
                <ul class="pagination pull-right">
                    <li>
                        <a title="Première page" href ng-click="firstPage()">&laquo;</a>
                    </li>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">&larr; Pr&eacute;c&eacute;dent</a>
                    </li>
                    <li class="current">
                        <a>Affichage de {{currentPage*accueillantsByPage+1}} &agrave; {{(currentPage+1)*accueillantsByPage}} de {{accueillants.length}}</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Suivant &rarr;</a>
                    </li>
                    <li>
                        <a title="Dernière page" href ng-click="lastPage()">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>