<ul class="list-group">
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Accueil
    </a>
    <a href="#/location/list/{{id}}" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Mes locations
    </a>
    <a href="#/location/create" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Nouvelle Location
    </a>
    <a href="#/accueillant/edit/{{id}}" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Profil
    </a>
    <a href ng-click="disconnect()" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        D&eacute;connexion
    </a>
</ul>