<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div class="col-md-12 cell-layout backTest ">

      <div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout  "></div>

    <div class="col-md-8 cell-layout ">

        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="alert alert-warning alert-dismissable" ng-show="info">
            <button type="button" class="close" ng-click="info = false">&times;</button>
            {{infoMessage}}
        </div>

        <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

        <div ng-show="loaded">
            <form name="form" class="form-horizontal" novalidate>
                <fieldset>
                    <legend>Données personnelles</legend>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.lastname.$dirty && form.lastname.$invalid]">
                        <label for="lastname" class="control-label">Nom</label>
                        <div class="controls">
                            <input id="lastname" type="text" name="lastname" ng-model="user.lastname" required ng-pattern="/^[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+[a-zA-Z- ]*$/">
                            <span class="help-inline" ng-show="form.lastname.$dirty && form.lastname.$error.required">Obligatoire</span>
                            <span class="help-inline" ng-show="form.lastname.$dirty && form.lastname.$error.pattern">Sont autorisés : lettres, traits d'union, espaces avec au moins une lettre</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.lastname.$dirty && form.lastname.$invalid]">Veuillez entrer un nom valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.firstname.$dirty && form.firstname.$invalid]">
                        <label for="firstname" class="control-label">Pr&eacute;nom</label>
                        <div class="controls">
                            <input id="firstname" type="text" name="firstname" ng-model="user.firstname" required ng-pattern="/^[a-zA-Z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+[a-zA-Z- ]*$/">
                            <span class="help-inline" ng-show="form.firstname.$dirty && form.firstname.$error.required">Obligatoire</span>
                            <span class="help-inline" ng-show="form.firstname.$dirty && form.firstname.$error.pattern">Sont autorisés : lettres, traits d'union, espaces avec au moins une lettre</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.firstname.$dirty && form.firstname.$invalid]">Veuillez entrer un pr&eacute;nom valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.email.$dirty && form.email.$invalid]">
                        <label for="email" class="control-label">Email</label>
                        <div class="controls">
                            <input id="email" type="email" name="email" ng-model="user.email" required>
                            <span class="help-inline" ng-show="form.email.$dirty && form.email.$error.required">Obligatoire</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.email.$dirty && form.email.$invalid]">Veuillez entrer un email valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.phonenumber.$dirty && form.phonenumber.$invalid]">
                        <label for="phonenumber" class="control-label">T&eacute;l&eacute;phone</label>
                        <div class="controls">
                            <input id="phonenumber" type="tel" name="phonenumber" ng-model="user.phonenumber" ng-pattern="/^0[1-8]([-. ]?[0-9]{2}){4}$/">
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.phonenumber.$dirty && form.phonenumber.$invalid]">Veuillez entrer un t&eacute;l&eacute;phone valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.password.$dirty && form.password.$invalid]">
                        <label for="password" class="control-label">Mot de passe</label>
                        <div class="controls">
                            <input id="password" type="{{password.display}}" name="password" ng-model="user.password" ng-pattern=" /^[a-zA-Z0-9?@\.;:!_-]+$/" ng-minlength="8" required>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.pattern">Sont autoris&eacute;s : lettres, chiffres, ?@.;:!_ et -</span>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.minlength">(8 caractères minimum)</span>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.required">Obligatoire</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.password.$dirty && form.password.$invalid]">Veuillez entrer un mot de passe valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.passwordRepeat.$dirty && form.passwordRepeat.$invalid]">
                        <label for="passwordRepeat" class="control-label">Mot de passe</label>
                        <div class="controls">
                            <input id="passwordRepeat" type="{{password.display}}" placeholder="r&eacute;p&eacute;ter mot de passe" name="passwordRepeat" ng-model="passwordRepeat" required equals="{{user.password}}">
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.passwordRepeat.$dirty && form.passwordRepeat.$invalid]">Les mots de passe sont différents.</p></span>
                        </div>
                    </div>

                    <div>
                        <label for="showPassword">Afficher les mots de passe</label>
                        <input id="showPassword" ng-model="password.show" type="checkbox" ng-click="switchPasswordDisplaying(password.show)">
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.pseudo.$dirty && form.pseudo.$invalid]">
                        <label for="pseudo" class="control-label">Pseudo</label>
                        <div class="controls">
                            <input id="pseudo" type="text" name="pseudo" ng-model="user.pseudo" required ng-minlength="3">
                            <span class="help-inline" ng-show="form.pseudo.$dirty && form.pseudo.$error.required">Obligatoire</span>
                            <span class="help-inline" ng-show="form.pseudo.$dirty && form.pseudo.$error.minlength">Trois caractères minimum</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.pseudo.$dirty && form.pseudo.$invalid]">Veuillez entrer un pseudo valide.</p></span>
                        </div>
                    </div>
                </fieldset>
                <br/>

                <div class="form-actions">
                    <p class="text-info">Retapez votre mot de passe pour activer les boutons</p>
                    <button class="btn btn-primary" ng-disabled="form.$invalid || clicking" ng-click="update(user)">Mettre &agrave; jour</button>
                    <button class="btn btn-danger" ng-disabled="form.$invalid || clicking" ng-click="delete(user)">Effacer ce compte</button>
                </div>
            </form>
        </div>
    </div>
</div>

        </div>
    </div>