<ul class="list-group" ng-controller="MenuCtrl">
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Accueil
    </a>
    <a href="#/accueillant/list" class="list-group-item navClass('accueillant/list')">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Accueillants
    </a>
    <a href="#/location/list/all" class="list-group-item navClass('location/list/all') ">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Locations
    </a>
    <a href="#/location/list/attente" class="list-group-item navClass('location/list/attente')">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Locations en attente
    </a>
    <a href="#/annoncePublicitaire/list/attente" class="list-group-item navClass('annoncePublicitaire/list/attente')">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Publicit&eacute;s en attente
    </a>
    <a href ng-click="disconnect()" class="list-group-item navClass('accueillant/list')">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        D&eacute;connexion
    </a>


</ul>