
<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>
<div class="row-fluid">

    <div class="col-md-12 cell-layout backTest ">

        <div class="row-fluid">

            <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout"></div>

            <div class="col-md-8 cell-layout">

                <div class="alert alert-danger alert-dismissable" ng-show="error">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{errorMessage}}
                </div>

                <div ng-show="clicking" class="alert alert-info">Cr&eacute;ation de l'offre publicitaire...</div>

                <div ng-show="!clicking">

                    <form name="form" class="form-horizontal" novalidate>
                        <fieldset>
                            <legend>Photo</legend>
                            <div class="alert alert-danger alert-dismissable" ng-show="errorPhoto">
                                <button type="button" class="close" ng-click="errorPhoto = false">&times;</button>
                                {{errorPhotoMessage}}
                            </div>

                            <div class="control-group" ng-class="{true:'has-error', false:''}[form.photo.$dirty && photoURL.length == 0]">
                                <label for="photo" class="control-label"></label>
                                <div class="controls">
                                    <input type="file" id="photo" name="photo" accept="image/*" ng-model="photo">
                                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.photo.$dirty && photoURL.length == 0]">Une photo exigée.</p></span>
                                </div>
                            </div>

                            <div ng-show="photoURL" class="col-xs-6 col-md-3">
                                <div>
                                    <span style="cursor:pointer;" class="glyphicon glyphicon-remove" ng-click="deletePhoto()"></span>
                                </div>
                                <img width="213" height="213" ng-src="{{photoURL}}"><br><br>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Date de disponibilit&eacute;</legend>
                            <p ng-click="clickStart=!clickStart">
                                <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickStart]">D&eacute;but</span>
                            </p>
                            <div ng-show="clickStart" class="datepicker-style">
                                <div class="well well-sm">
                                    <datepicker ng-model="pub.start" show-weeks="false"></datepicker>
                                </div>
                                <span class="help-block">Obligatoire</span>
                            </div>

                            <p ng-click="clickEnd=!clickEnd">
                                <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickEnd]">Fin</span>
                            </p>
                            <div ng-show="clickEnd" class="datepicker-style">
                                <div class="well well-sm">
                                    <datepicker ng-model="pub.end" show-weeks="false"></datepicker>
                                </div>
                                <span class="help-block">Obligatoire</span>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Adresse de destination (lors d'un clic)</legend>
                            <div class="control-group" ng-class="{true:'has-error', false:''}[form.url.$dirty && form.url.$invalid]">
                                <label for="url" class="control-label">URL</label>
                                <div class="controls">
                                    <input id="url" type="text" name="url" ng-model="pub.url" ng-pattern="/^((http|https):\/\/){1}(www[.])?([a-zA-Z0-9]|-)+([.][a-zA-Z0-9(-|\/|=|?)?]+)+$/" required>
                                    <span class="help-inline" ng-show="form.prixCaravane.$dirty && form.prixCaravane.$error.pattern">URL attendue</span>
                                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.url.$dirty && form.url.$invalid]">Entrez une URL valide.</p></span>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <button class="btn btn-primary"
                                    ng-disabled="clicking || form.$invalid || !photoURL || !pub.start || !pub.end"
                                    ng-click="create(pub)">Enregistrer</button>
                            <button class="btn btn-warning" ng-disabled="clicking" ng-click="reset()">Annuler</button>
                        </div>
                    </form>

                    <p>
                        &nbsp; <br> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>