<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

<div class="col-md-12 cell-layout backTest ">

<div class="row-fluid">

<div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout"></div>

<div class="col-md-8 cell-layout">


<div class="alert alert-danger alert-dismissable" ng-show="error">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{errorMessage}}
</div>

<div ng-show="clicking" class="alert alert-info">Cr&eacute;ation de l'offre...</div>

<div ng-show="!clicking">

    <form name="form" class="form-horizontal" novalidate>
        <fieldset>
            <legend>Type de location accept&eacute;e</legend>
            <fieldset class="col-lg-3">
                <img ng-click="tenteShow=!tenteShow" src="../css/css/images/tente.png" alt="tente" title="tente" />
                <span class="label label-primary">Tente</span>
                <div ng-if="tenteShow">
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.nbPlacesTente.$dirty && form.nbPlacesTente.$invalid]">
                        <label for="nbPlacesTente" class="control-label">Places</label>
                        <div class="controls">
                            <input id="nbPlacesTente" type="number" name="nbPlacesTente" ng-model="locationTente.places" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.nbPlacesTente.$dirty && form.nbPlacesTente.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.nbPlacesTente.$dirty && form.nbPlacesTente.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.prixTente.$dirty && form.prixTente.$invalid]">
                        <label for="prixTente" class="control-label">Prix de location (&euro;)</label>
                        <div class="controls">
                            <input id="prixTente" type="number" name="prixTente" ng-model="locationTente.prix" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.prixTente.$dirty && form.prixTente.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.prixTente.$dirty && form.prixTente.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="col-lg-3">
                <img ng-click="CCShow=!CCShow" src="../css/css/images/campingcar.png" alt="camping-car" title="camping-car" />
                <span class="label label-primary">Camping-car</span>
                <div ng-if="CCShow">
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.nbPlacesCC.$dirty && form.nbPlacesCC.$invalid]">
                        <label for="nbPlacesCC" class="control-label">Places</label>
                        <div class="controls">
                            <input id="nbPlacesCC" type="number" name="nbPlacesCC" ng-model="locationCC.places" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.nbPlacesCC.$dirty && form.nbPlacesCC.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.nbPlacesCC.$dirty && form.nbPlacesCC.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.prixCC.$dirty && form.prixCC.$invalid]">
                        <label for="prixCC" class="control-label">Prix de location (&euro;)</label>
                        <div class="controls">
                            <input id="prixCC" type="number" name="prixCC" ng-model="locationCC.prix" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.prixCC.$dirty && form.prixCC.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.prixCC.$dirty && form.prixCC.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="col-lg-3">
                <img ng-click="caravaneShow=!caravaneShow" src="../css/css/images/caravane.png" alt="caravane" title="caravane" />
                <span class="label label-primary">Caravane</span>
                <div ng-if="caravaneShow">
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.nbPlacesCaravane.$dirty && form.nbPlacesCaravane.$invalid]">
                        <label for="nbPlacesCaravane" class="control-label">Places</label>
                        <div class="controls">
                            <input id="nbPlacesCaravane" type="number" name="nbPlacesCaravane" ng-model="locationCaravane.places" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.nbPlacesCaravane.$dirty && form.nbPlacesCaravane.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.nbPlacesCaravane.$dirty && form.nbPlacesCaravane.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.prixCaravane.$dirty && form.prixCaravane.$invalid]">
                        <label for="prixCaravane" class="control-label">Prix de location (&euro;)</label>
                        <div class="controls">
                            <input id="prixCaravane" type="number" name="prixCaravane" ng-model="locationCaravane.prix" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="form.prixCaravane.$dirty && form.prixCaravane.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.prixCaravane.$dirty && form.prixCaravane.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <br>
            <div class="row col-lg-12" ng-show="!tenteShow && !CCShow && !caravaneShow">
                <p class="text-info">Vous devez choisir au moins un type de location.</p>
            </div>
        </fieldset>

        <fieldset>
            <legend>Services</legend>
            <div>
                <label ng-repeat="s in services" class="checkbox-inline">
                    <input type="checkbox" ng-model="modelService" ng-change="changeService(s)">
                    <img ng-src="../css/css/images/{{s.identifier}}.png" alt="{{s.name}}" title="{{s.name}}" />
                    <span class="label label-info">{{s.name}}</span>
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Activites</legend>
            <div>
                <label ng-repeat="a in activites" class="checkbox-inline">
                    <input type="checkbox" ng-model="modelService" ng-change="changeActivite(a)">
                    <img ng-src="../css/css/images/{{a.identifier}}.png" alt="{{a.name}}" title="{{a.name}}" />
                    <span class="label label-info">{{a.name}}</span>
                </label>
            </div>
        </fieldset>

        <fieldset>
            <legend>Adresse</legend>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.adresse.$dirty && form.adresse.$invalid]">
                <label for="adresse" class="control-label">Adresse</label>
                <div class="controls">
                    <input type="text" id="adresse" name="adresse" ng-model="annonceLocation.adresse" required>
                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.adresse.$dirty && form.adresse.$invalid]">Entrez une adresse.</p></span>
                </div>
            </div>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.adresseComp.$dirty && form.adresseComp.$invalid]">
                <label for="adresseComp" class="control-label">Adresse compl&eacute;mentaire</label>
                <div class="controls">
                    <input type="text" id="adresseComp" name="adresseComp" ng-model="annonceLocation.complementAdresse">
                </div>
            </div>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.codePostal.$dirty && (form.codePostal.$invalid || cpInvalid)]">
                <label for="codePostal" class="control-label">Code postal</label>
                <div class="controls">
                    <input type="text" id="codePostal" name="codePostal" ng-model="annonceLocation.codePostal" ng-pattern="/^(([0-8][0-9])|(9[0-5]))[0-9]{3}$/" required>
                    <span class="help-inline" ng-show="form.codePostal.$dirty && (form.codePostal.$error.pattern || cpInvalid)">Entrez un code postal valide.</span>
                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.codePostal.$dirty && form.codePostal.$invalid]">Entrez une adresse.</p></span>
                </div>
                <div>
                    <select ng-show="villes.length" ng-model="selectedCity" ng-options="ville.nom for ville in villes">
                        <option value="">-- Choisissez votre ville --</option>
                    </select>
                </div>
                <br/><br/>
            </div>
        </fieldset>

        <!--<fieldset>-->
            <!--<legend ng-show="showMap">Positionner ma ville</legend>-->
            <!--<div ng-show="showMap" class="control-group" ng-class="{true:'has-error', false:''}[form.ville.$dirty && form.ville.$invalid]">-->
                <!--<label for="ville" class="control-label">Ville</label>-->
                <!--<div class="controls">-->
                    <!--<input type="text" id="ville" name="ville" ng-model="annonceLocation.ville" required>-->
                    <!--<span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.ville.$dirty && form.ville.$invalid]">Entrez un nom de ville.</p></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div ng-show="showMap" class="googleMapCreation" id="map-canvas"></div>-->
                <!--<button ng-if="marker" class="btn btn-info" ng-click="removeMarker()">Enlever le marqueur</button>-->
                <!--<button ng-show="!showMap" class="btn btn-default" ng-click="showMap = true"-->
                        <!--title="Repérez votre ville sur une carte si elle n'apparaît pas dans la liste !">Créer une nouvelle ville</button>-->
                <!--<button ng-show="showMap" class="btn btn-default" ng-click="removeMarker(); showMap = false; selectedCity = null">Annuler la création</button>-->
            <!--</div>-->
        <!--</fieldset>-->

        <fieldset>
            <legend>Photos <small class="text-info">10 photos maximum</small></legend>
            <div class="alert alert-danger alert-dismissable" ng-show="errorPhoto">
                <button type="button" class="close" ng-click="errorPhoto = false">&times;</button>
                {{errorPhotoMessage}}
            </div>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.photos.$dirty && photosURL.length == 0]">
                <label for="photos" class="control-label"></label>
                <div class="controls">
                    <input type="file" id="photos" name="photos" accept="image/*" multiple ng-model="photosModel">
                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.photos.$dirty && photosURL.length == 0]">Une photo minimum.</p></span>
                </div>
            </div>
            <div ng-repeat="p in photosURL track by $index">
                <div class="col-xs-6 col-md-3">
                    <div>
                        <span style="cursor:pointer;" class="glyphicon glyphicon-remove" ng-click="deletePhoto($index)"></span>
                    </div>
                    <img width="213" height="213" ng-src="{{p}}"><br><br>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Description du terrain</legend>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.phonenumber.$dirty && form.phonenumber.$invalid]">
                <label for="phonenumber" class="control-label">T&eacute;l&eacute;phone</label>
                <div class="controls">
                    <input id="phonenumber" type="tel" name="phonenumber" ng-model="annonceLocation.telephone" ng-pattern="/^0[1-8]([-. ]?[0-9]{2}){4}$/">
                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.phonenumber.$dirty && form.phonenumber.$invalid]">Veuillez entrer un t&eacute;l&eacute;phone valide.</p></span>
                </div>
            </div>
            <div class="control-group" ng-class="{true:'has-error', false:''}[form.description.$dirty && form.description.$invalid]">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea ng-model="annonceLocation.description" name="description" required ng-maxlength="500" rows="10" cols="50"></textarea>
                    <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.description.$dirty && form.description.$invalid]">500 caract&egrave;res maximum.</p></span>
                </div>
            </div>
        </fieldset>

        <div class="alert alert-danger alert-dismissable" ng-show="errorMap">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{errorMapMessage}}
        </div>

        <div class="form-actions">
            <button class="btn btn-primary"
                    ng-disabled="clicking || form.$invalid || photosURL.length == 0 || !tenteShow && !CCShow && !caravaneShow || cpInvalid"
                    ng-click="create(annonceLocation)">Enregistrer</button>
            <!--<button class="btn btn-warning" ng-disabled="clicking" ng-click="reset()">Annuler</button>-->
        </div>
    </form>
<p>&nbsp; <br> <br> </p>
</div>

</div>
</div>
</div>
</div>