<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest medium-height">

        <div ng-show="clicking" class="alert alert-info">Envoi du questionnaire...</div>

        <div ng-show="!clicking">
            <form name="form" class="form-horizontal" novalidate>
                <fieldset>
                    <legend>Adresse &eacute;lectronique du visiteur</legend>
                    <div>
                        <div class="control-group" ng-class="{true:'has-error', false:''}[form.to.$dirty && form.to.$invalid]">
                            <label for="to" class="control-label">Mail</label>
                            <div class="controls">
                                <input id="to" type="email" name="to" ng-model="adresse.to" required>
                                <span class="help-inline" ng-show="form.to.$dirty && form.to.$error.required">Obligatoire</span>
                                <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.to.$dirty && form.to.$invalid]">Veuillez entrer un email valide.</p></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button class="btn btn-primary"
                            ng-disabled="clicking || form.$invalid"
                            ng-click="sendQuestionnaire(adresse)">Envoyer un questionnaire</button>
                </div>
            </form>
        </div>

    </div>
</div>