<div class="row-fluid">
    <div class="col-md-12 backTest">



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div class="col-md-12 cell-layout backTest">
        <div class="row-fluid">

            <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest"></div>

            <div class="col-md-8 cell-layout backTest medium-height">
                <div>
                    <h3>Utilisateur</h3>
                    <p><span class="text-info">Nom</span> : {{accueillant.lastname}}</p>
                    <p><span class="text-info">Pr&eacute;nom</span> : {{accueillant.firstname}}</p>
                    <p><span class="text-info">Email</span> : {{accueillant.email}}</p>
                    <p ng-show="accueillant.phonenumber"><span class="text-info">T&eacute;l&eacute;phone</span> : {{accueillant.phonenumber}}</p>
                    <p><span class="text-info">Pseudo</span> : {{accueillant.pseudo}}</p>
                </div>

                <div ng-show="clicking" class="alert alert-info">Envoi du mail...</div>

                <div ng-show="!clicking">
                    <form name="form" class="form-horizontal" novalidate>
                        <fieldset>
                            <legend>Motif de l'avertissement</legend>
                            <div>
                                <div class="control-group" ng-class="{true:'has-error', false:''}[form.motif.$dirty && form.motif.$invalid]">
                                    <label for="motif" class="control-label">Description</label>
                                    <div class="controls">
                                        <textarea id="motif" name="motif" ng-model="avertissement.motif" rows="10" cols="50" required></textarea>
                                        <span class="help-block">Obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <button class="btn btn-primary"
                                    ng-disabled="clicking || form.$invalid"
                                    ng-click="avertir(accueillant, avertissement)">D&eacute;poser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>