<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>
<div class="row-fluid">

    <div class="col-md-12 cell-layout backTest">
        <div class="row-fluid">

            <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest"></div>

            <div class="col-md-8 cell-layout">
                <div ng-show="clicking" class="alert alert-info">Envoi du mail...</div>

                <div ng-show="!clicking">
                    <form name="form" class="form-horizontal" novalidate>
                        <fieldset>
                            <legend>Motif du bannissement</legend>
                            <div>
                                <div class="control-group" ng-class="{true:'has-error', false:''}[form.motif.$dirty && form.motif.$invalid]">
                                    <label for="motif" class="control-label">Description</label>
                                    <div class="controls">
                                        <textarea id="motif" name="motif" ng-model="annonceLocation.listeNoireLocation.motif" rows="10" cols="50" required></textarea>
                                        <span class="help-block">Obligatoire</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div style="display:inline-block; min-height:290px;">
                                <div class="well well-sm" ng-model="dt">
                                    <datepicker ng-model="annonceLocation.listeNoireLocation.fin" min="minDate" show-weeks="showWeeks"></datepicker>
                                </div>
                                <span class="help-block">Facultatif</span>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <button class="btn btn-primary"
                                    ng-disabled="clicking || form.$invalid"
                                    ng-click="bannir(annonceLocation)">Bannir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>