<div class="row-fluid">

    <div>
        <div>
            <form name="form" ng-show="!isLogged" class="well form-inline" novalidate ng-controller="ConnexionCtrl">
                <fieldset>
                    <legend>Connexion</legend>

                    <div class="alert alert-danger alert-dismissable" ng-show="error">
                        <button type="button" class="close" ng-click="error = false">&times;</button>
                        {{errorMessage}}
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.pseudo.$dirty && form.pseudo.$invalid]">
                        <label for="pseudo" class="control-label">Pseudo</label>
                        <div class="controls">
                            <input id="pseudo" type="text" name="pseudo" ng-model="user.pseudo" required ng-minlength="3">
                            <span class="help-inline" ng-show="form.pseudo.$dirty && form.pseudo.$error.required">Obligatoire</span>
                            <span class="help-inline" ng-show="form.pseudo.$dirty && form.pseudo.$error.minlength">Trois caractères minimum</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.pseudo.$dirty && form.pseudo.$invalid]">Veuillez entrer un pseudo valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[form.password.$dirty && form.password.$invalid]">
                        <label for="password" class="control-label">Mot de passe</label>
                        <div class="controls">
                            <input id="password" type="password" name="password" ng-model="user.password" ng-pattern=" /^[a-zA-Z0-9?@\.;:!_-]+$/" ng-minlength="8" required>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.pattern">Sont autoris&eacute;s : lettres, chiffres, ?@.;:!_ et -</span>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.minlength">(8 caractères minimum)</span>
                            <span class="help-inline" ng-show="form.password.$dirty && form.password.$error.required">Obligatoire</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.password.$dirty && form.password.$invalid]">Veuillez entrer un mot de passe valide.</p></span>
                        </div>
                    </div>
                </fieldset>

                <div class="controls"> <br/>
                    <button class="art-button" type="submit " ng-disabled="form.$invalid || clicking" ng-click="connect(user)">Connexion</button> <br/><br/>
                    <span>D&eacute;poser une offre de location ?&nbsp;<a  ng-href="#/accueillant/create" >Inscrivez-vous</a></span><br/><br/>
                    <span>Vous &ecirc;tes un publicitaire?&nbsp;<a  ng-href="#/publicitaire/create" >Inscrivez-vous</a></span>
                </div>
            </form>
        </div>
    </div>
</div>