<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest " style="height: 790px;">
        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="alert alert-warning alert-dismissable" ng-show="info">
            <button type="button" class="close" ng-click="info = false">&times;</button>
            {{infoMessage}}
        </div>

        <div>
            <h3>Votre h&ocirc;te</h3>
            <p><span class="text-info">Nom</span> : {{user.lastname}}</p>
            <p><span class="text-info">Pr&eacute;nom</span> : {{user.firstname}}</p>
            <p ng-show="user.phonenumber"><span class="text-info">T&eacute;l&eacute;phone</span> : {{user.phonenumber}}</p>
            <p><span class="text-info">Pseudo</span> : {{user.pseudo}}</p>
        </div>

        <div>
            <p class="text-warning text-center">N'oubliez pas de laisser vos coordonnées afin que l'accueillant puisse vous recontacter</p>
        </div>

        <div ng-show="clicking" class="alert alert-info">Envoi du mail...</div>

        <div ng-show="!clicking">
            <form name="form" class="form-horizontal" novalidate>
                <fieldset>
                    <legend>Mail</legend>
                    <div>
                        <div class="control-group" ng-class="{true:'has-error', false:''}[form.subject.$dirty && form.subject.$invalid]">
                            <label for="subject" class="control-label">Sujet</label>
                            <div class="controls">
                                <input id="subject" type="text" name="subject" ng-model="mail.subject" required>
                                <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.subject.$dirty && form.subject.$invalid]">Obligatoire.</p></span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{true:'has-error', false:''}[form.text.$dirty && form.text.$invalid]">
                            <label for="text" class="control-label">Corps du message</label>
                            <div class="controls">
                                <textarea id="text" name="text" ng-model="mail.text" required rows="10" cols="50"></textarea>
                                <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.text.$dirty && form.text.$invalid]">Obligatoire.</p></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button class="btn btn-primary"
                            ng-disabled="clicking || form.$invalid"
                            ng-click="sendMail(user, mail)">Envoyer mail</button>
                </div>
            </form>
        </div>
    </div>
</div>