<div class="row-fluid">
    <div class="col-md-12 backTest">
        <p>&nbsp;
        </p>
    </div>
</div>


<div class="col-md-12 cell-layout backTest">

    <div ng-show="clicking" class="alert alert-info">Validation de l'offre...</div>

    <div ng-show="!clicking" class="row-fluid">
        <div ng-if="isLogged" ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout"></div>

        <div class="col-md-8 cell-layout">
            <div class="col-md-12 cell-layout">
                <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

                <div class="alert alert-danger" ng-show="avertos.length > 0">
                    Cet accueillant a d&eacute;j&agrave; re&ccedil;u un avertissement. Faites preuve d'attention.
                </div>

                <div ng-show="loaded">
                    <h3 class="text-success fc-header-center" style="margin-bottom: 5%;">Offre d'accueil</h3>

                    <div class="col-md-6" style="margin-bottom: 20px;">
                        <carousel interval="5000">
                            <slide ng-repeat="p in location.photos" active="slide.active">
                                <img class="thumbnail" height="400px" width="500px" ng-src="{{p.data}}" alt="photoLocation" style="margin:auto;">
                            </slide>
                        </carousel>
                    </div>

                    <div>
                        <p class="text-warning">Terrain pour : </p>
                            <span ng-repeat="loc in location.locations">
                                <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                            </span>
                    </div>

                    <hr/>

                    <h3><img src="../css/css/images/gps.png" alt="location" title="localisation"/></h3>
                    <div>
                        <p>{{location.ville.nom}}</p>
                        <p>{{location.adresse}}, {{location.codePostal}}</p>
                        <p ng-if="location.complementAdresse">{{location.complementAdresse}}</p>
                    </div>

                    <hr/>

                    <div class="little-margin-bottom"></div>

                    <h3 class="text-info">Types d'accueil disponibles</h3>
                    <div>
                        <div ng-repeat="loc in location.locations">
                            <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                            {{loc.places}} place<span ng-if="loc.places > 1">s</span> ({{loc.prix}}&euro; / nuit)
                            <br/>
                            <br/>
                        </div>
                    </div>

                    <h3 class="text-info">Activit&eacute;s et services</h3>
                    <h4 class="text-info">Activit&eacute;s disponibles</h4>
                    <label ng-repeat="a in location.activites" class="checkbox-inline">
                        <span class="label label-primary">{{a.name}}</span>
                        <img ng-src="../css/css/images/{{a.identifier}}.png" alt="{{a.name}}" title="{{a.name}}" />
                    </label>

                    <h4 class="text-info">Services disponibles</h4>
                    <label ng-repeat="s in location.services" class="checkbox-inline">
                        <span class="label label-primary">{{s.name}}</span>
                        <img ng-src="../css/css/images/{{s.identifier}}.png" alt="{{s.name}}" title="{{s.name}}" />
                    </label>

                    <h3 class="text-info">Description du terrain</h3>
                    <div>
                        {{location.description}}
                    </div>

                    <p>
                        &nbsp;<br> <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4 little-margin-bottom">
            <button class="btn btn-primary" ng-click="valider(location)">Valider cette location</button>&nbsp;
            <a class="btn btn-danger" ng-href="#/location/edit/admin/{{location.id}}">Refuser</a>
        </div>
    </div>

</div>
