<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>
<div class="row-fluid">

    <div class="col-md-12 cell-layout backTest">
        <div class="row-fluid">
            <div ng-if="isLogged" ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout"></div>

            <div class="col-md-8 cell-layout">
                <div class="col-md-12 cell-layout">
                    <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

                    <div class="alert alert-danger" ng-show="avertos.length > 0">
                        Cet accueillant a d&eacute;j&agrave; re&ccedil;u un avertissement. Faites preuve d'attention.
                    </div>

                    <div ng-show="loaded">
                        <h3 class="text-success fc-header-center" style="margin-bottom: 5%;">Offre d'accueil</h3>

                        <div class="col-md-6" style="margin-bottom: 20px;">
                            <carousel interval="5000">
                                <slide ng-repeat="p in location.photos" active="slide.active">
                                    <img class="thumbnail" height="400px" width="500px" ng-src="{{p.data}}" alt="photoLocation" style="margin:auto;">
                                </slide>
                            </carousel>
                        </div>

                        <div>
                            <p class="text-warning">Terrain pour : </p>
                            <span ng-repeat="loc in location.locations">
                                <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                            </span>
                        </div>

                        <hr/>

                        <h3><img src="../css/css/images/gps.png" alt="location" title="localisation"/></h3>
                        <div>
                            <p>{{location.ville.nom}}</p>
                            <p>{{location.adresse}}, {{location.codePostal}}</p>
                            <p ng-if="location.complementAdresse">{{location.complementAdresse}}</p>
                            <p><a title="Contacté l'accueillant afin de réserver votre place" class="btn btn-primary" ng-href="#/contacterAccueillantVisiteur/{{location.accueillantId}}">Contacter l'h&ocirc;te</a></p>
                        </div>

                        <hr/>

                        <div class="little-margin-bottom"></div>

                        <h3 class="text-info">Types d'accueil disponibles</h3>
                        <div>
                            <div ng-repeat="loc in location.locations">
                                <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                                {{loc.places}} place<span ng-if="loc.places > 1">s</span> ({{loc.prix}}&euro; / nuit)
                                <br/>
                                <br/>
                            </div>
                        </div>

                        <h3 class="text-info">Activit&eacute;s et services</h3>
                        <h4 class="text-info">Activit&eacute;s disponibles</h4>
                        <label ng-repeat="a in location.activites" class="checkbox-inline">
                            <span class="label label-primary">{{a.name}}</span>
                            <img ng-src="../css/css/images/{{a.identifier}}.png" alt="{{a.name}}" title="{{a.name}}" />
                        </label>

                        <h4 class="text-info">Services disponibles</h4>
                        <label ng-repeat="s in location.services" class="checkbox-inline">
                            <span class="label label-primary">{{s.name}}</span>
                            <img ng-src="../css/css/images/{{s.identifier}}.png" alt="{{s.name}}" title="{{s.name}}" />
                        </label>

                        <h3 class="text-info">Description du terrain</h3>
                        <div>
                            {{location.description}}
                        </div>

                        <h3 ng-if="location.questionnaires && location.questionnaires.length" class="text-info">
                            R&eacute;ponses aux questionnaires (<span class="text-warning">{{location.questionnaires.length}}</span>)
                        </h3>

                        <div ng-if="location.questionnaires && location.questionnaires.length" ng-repeat="q in questions">
                            <p>{{q.question}}</p>
                            <rating class="gold" value="averagePerQuestion[$index]" readonly="true"></rating>
                        </div>

                        <h3>Commentaires des visiteurs</h3>
                        <p ng-if="average() != 0">Moyenne : <rating class="gold" value="average()" readonly="true"></rating></p>
                        <p class="text-info" ng-if="average() == 0">Cette location n'a pas re&ccedil;u de notes pour le moment</p>

                        <form ng-hide="location.accueillantId == id" name="form" class="form-horizontal" role="form" novalidate>
                            <fieldset>
                                <legend>Laisser un commentaire sur la location</legend>
                                <div class="form-group" ng-class="{true:'has-error', false:''}[form.avis.$dirty && form.avis.$invalid]">
                                    <label for="avis" class="control-label">(Limite : 500 caractères)</label>
                                    <div class="controls" for="avis">
                                        <textarea type="text" id="avis" name="avis" ng-model="avis.avis" required rows="3" cols="50"></textarea>
                    <span class="help-block">
                        <p ng-class="{true:'',false:'text-muted'}[form.avis.$dirty && form.avis.$invalid]">Obligatoire.</p>
                    </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="avis" class="control-label">Note (obligatoire)</label>
                                    <div class="controls">
                                        <rating class="gold" value="rate" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <button class="btn btn-primary" ng-disabled="clicking || form.$invalid || !rate" ng-click="save(avis)">
                                    D&eacute;poser mon avis
                                </button>
                            </div>
                        </form>

                        <div class="alert alert-danger alert-dismissable" ng-show="error">
                            <button type="button" class="close" ng-click="error = false">&times;</button>
                            {{errorMessage}}
                        </div>

                        <div class="alert alert-warning alert-dismissable" ng-show="info">
                            <button type="button" class="close" ng-click="info = false">&times;</button>
                            {{infoMessage}}
                        </div>

                        <div>
                            <div ng-repeat="avis in location.avis">
                                <p>{{avis.avis}}</p>
                                <rating class="gold" value="avis.note" readonly="true"></rating>
                                <button ng-show="isLogged && role == 'ADMINISTRATEUR'" type="button" class="btn btn-default" ng-click="remove(avis)"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </div>

                        <p>

                            &nbsp;<br> <br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
