<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div ng-show="!loaded">Chargement...</div>

<div ng-show="loaded" class="row-fluid">

    <div class="col-md-12 cell-layout backTest">

        <div class="row-fluid">

            <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout"></div>

            <div class="col-md-8 cell-layout">

                <div class="alert alert-danger alert-dismissable" ng-show="error">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{errorMessage}}
                </div>

                <div>

                    <form name="form" class="form-horizontal" novalidate>

                        <div>
                            <fieldset>
                                <legend>Photo</legend>

                                <div class="control-group" ng-class="{true:'has-error', false:''}[form.photo.$dirty && photoURL.length == 0]">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[form.photo.$dirty && photoURL.length == 0]">Une photo exigée.</p></span>
                                    </div>
                                </div>

                                <div ng-show="photoURL" class="col-xs-6 col-md-3">
                                    <div>
                                        <span style="cursor:pointer;" class="glyphicon glyphicon-remove" ng-click="deletePhoto()"></span>
                                    </div>
                                    <img width="213" height="213" ng-src="{{photoURL}}"><br><br>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Date de disponibilit&eacute;</legend>
                                <p ng-click="clickStart=!clickStart">
                                    <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickStart]">D&eacute;but</span>
                                </p>
                                <div ng-show="clickStart" style="display:inline-block; min-height:290px;">
                                    <div class="well well-sm">
                                        <datepicker ng-model="pub.start" show-weeks="false"></datepicker>
                                    </div>
                                    <span class="help-block">Obligatoire</span>
                                </div>

                                <p ng-click="clickEnd=!clickEnd">
                                    <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickEnd]">Fin</span>
                                </p>
                                <div ng-show="clickEnd" style="display:inline-block; min-height:290px;">
                                    <div class="well well-sm">
                                        <datepicker ng-model="pub.end" show-weeks="false"></datepicker>
                                    </div>
                                    <span class="help-block">Obligatoire</span>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Adresse de destination (lors d'un clic)</legend>
                                <div>{{pub.url}}</div>
                            </fieldset>
                            </div>

                        <br/>

                        <div class="form-actions">
                            <button class="btn btn-primary"
                                    ng-disabled="clicking"
                                    ng-click="valider(pub)">Valider</button>&nbsp;
                            <a class="btn btn-danger" ng-href="#/annoncePublicitaire/edit/admin/{{pub.id}}">Refuser</a>
                        </div>
                    </form>

                    <p>
                        &nbsp; <br> <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>