<div class="row-fluid ">
    <div class="col-md-12 backTest ">
        <div class="titreAnn">
            <h1>Derni&egrave;res annonces</h1>
        </div>
    </div>

</div>

<div class="row-fluid">

<div class="col-md-12 cell-layout backTest">


    <div class="row-fluid col-md-12">
        <div class="col-md-8 little-margin-bottom">
            <div id="map-canvas" class="pull-right map-size"></div>


            <div class="col-md-8">
            <button class="art-button" ng-disabled="clicking" ng-click="filteredSearch=!filteredSearch"
                    title="Rechercher une location selon des critères donnés">Recherche avanc&eacute;e</button>
            <button class="art-button" ng-disabled="clicking || !canFilterAgainstCoords()"
                    class="btn btn-info btn-sm pull-right" ng-click="filteredDistance=!filteredDistance"
                    title="Chercher une location dans un périmètre donné">Filtre de distance</button>
            </div>
            <div class="col-md-4 pull-right">
                <div ng-if="ad" class="pull-right img-thumbnail">
                    <p>Zone publicitaire</p>
                    <a ng-href="{{ad.url}}"><img ng-src="{{ad.photo.data}}" width="200" height="100"/></a>
                </div>
            </div>
        </div>

        <div class="col-md-4" >
            <div ng-show="isLogged" class="well">
                <h6>Acc&egrave;s rapide</h6>
                <div><span class="glyphicon glyphicon-user"><a title="Accéder à mon menu" ng-href="#/accueil">Menu</a></span></div>
                <br/>
                <div><span class="glyphicon glyphicon-share-alt"><a title="Me déconnecter du site" ng-click="disconnect()" ng-href="#/accueil">D&eacute;connexion</a></span></div>
            </div>

            <div ng-include src="'/partials/connexion.html'"></div>

            <div class="alert alert-danger alert-dismissable" ng-show="error">
                <button type="button" class="close" ng-click="error = false">&times;</button>
                {{errorMessage}}
            </div>

            <div class="alert alert-warning alert-dismissable" ng-show="info">
                <button type="button" class="close" ng-click="info = false">&times;</button>
                {{infoMessage}}
            </div>
        </div>


    </div>

    <div>
        <div class="row">
            <div ng-class="{true:'col-md-8', false:'col-md-12'}[filteredSearch || filteredDistance]">
                <div ng-class="{true:'col-md-6 col-sm-6', false:'col-md-4 col-sm-6'}[filteredSearch || filteredDistance]" ng-repeat="a in annonceLocations">
                    <div class="thumbnail">
                        <span class="text-success">Disponible</span>
                        <img height="200" width="200" ng-src="{{a.photos[0].data}}" alt="photoLocation">
                        <div class="caption">
                            <h3><a class="nohover" ng-href="#/details-offre/{{a.id}}">{{a.ville.nom}}</a></h3>
                        <span ng-repeat="loc in a.locations">
                            <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                        </span>
                        </div>
                    </div>
                </div>

                <div ng-class="{true:'col-md-6 col-sm-6', false:'col-md-4 col-sm-6'}[filteredSearch || filteredDistance]" ng-repeat="a in alreadyTaken">
                    <div class="thumbnail">
                        <span class="text-warning">Occup&eacute;</span>
                        <img height="200" width="200" ng-src="{{a.photos[0].data}}" alt="photoLocation">
                        <div class="caption">
                            <h3><a class="nohover" ng-href="#/details-offre/{{a.id}}">{{a.ville.nom}}</a></h3>
                        <span ng-repeat="loc in a.locations">
                            <img ng-src="../css/css/images/{{loc.type.identifier}}.png" alt="{{loc.type.name}}" title="{{loc.type.name}}" />
                        </span>
                        </div>
                    </div>
                </div>
            </div>

            <form ng-if="filteredSearch" name="filterForm" class="form-horizontal col-md-4 little-margin-bottom" novalidate>
                <fieldset>
                    <legend>Adresse</legend>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterForm.codePostal.$dirty && filterForm.codePostal.$invalid]">
                        <label for="codePostal" class="control-label">Code postal</label>
                        <div class=controls">
                            <input id="codePostal" type="number" name="codePostal" ng-model="filter.codePostal" ng-pattern="/^(([0-8][0-9])|(9[0-5]))[0-9]{3}$/">
                            <span class="help-inline" ng-show="filterForm.codePostal.$dirty && filterForm.codePostal.$error.pattern">Code postal (nombre à cinq chiffres) valide attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[filterForm.codePostal.$dirty && filterForm.codePostal.$invalid]">Entrez un code postal valide.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterForm.ville.$dirty && filterForm.ville.$invalid]">
                        <label for="ville" class="control-label">Ville</label>
                        <div class=controls">
                            <input id="ville" type="text" name="ville" ng-model="filter.ville">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Type de location</legend>
                    <div>
                        <select ng-model="filter.type" ng-options="type.name for type in typesLocation">
                            <option value="">Choisissez votre type de location </option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Attributs de location</legend>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterForm.nbPlaces.$dirty && filterForm.nbPlaces.$invalid]">
                        <label for="nbPlaces" class="control-label">Nombre minimum de places</label>
                        <div class=controls">
                            <input id="nbPlaces" type="number" name="nbPlaces" ng-model="filter.nbPlaces">
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[filterForm.nbPlaces.$dirty && filterForm.nbPlaces.$invalid]">Entrez un nombre de places minimum.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterForm.prixMin.$dirty && filterForm.prixMin.$invalid]">
                        <label for="prixMin" class="control-label">Prix minimum</label>
                        <div class=controls">
                            <input id="prixMin" type="number" name="prixMin" ng-model="filter.prixMin">
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[filterForm.prixMin.$dirty && filterForm.prixMin.$invalid]">Entrez un prix minimum.</p></span>
                        </div>
                    </div>

                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterForm.prixMax.$dirty && filterForm.prixMax.$invalid]">
                        <label for="prixMax" class="control-label">Prix maximum</label>
                        <div class=controls">
                            <input id="prixMax" type="number" name="prixMax" ng-model="filter.prixMax">
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[filterForm.prixMax.$dirty && filterForm.prixMax.$invalid]">Entrez un prix maximum.</p></span>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Services</legend>
                    <div>
                        <label ng-repeat="s in services" class="checkbox-inline">
                            <input type="checkbox" ng-model="modelService" ng-change="changeService(s)">
                            <img ng-src="../css/css/images/{{s.identifier}}.png" alt="{{s.name}}" title="{{s.name}}" />
                            <span class="label label-info">{{s.name}}</span>
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Dates  disponibilit&eacute;</legend>
                    <p ng-click="clickStart=!clickStart">
                        <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickStart]">D&eacute;but</span>
                    </p>
                    <div ng-show="clickStart" class="datepicker-style">
                        <div class="well well-sm">
                            <datepicker ng-model="filter.dateDebut" show-weeks="false"></datepicker>
                        </div>
                    </div>

                    <p ng-click="clickEnd=!clickEnd">
                        <span ng-class="{true:'glyphicon glyphicon-plus',false:'glyphicon glyphicon-minus'}[!clickEnd]">Fin</span>
                    </p>
                    <div ng-show="clickEnd" class="datepicker-style">
                        <div class="well well-sm">
                            <datepicker ng-model="filter.dateFin" show-weeks="false"></datepicker>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button id="btn-search-advance"
                            class="btn btn-primary"
                            ng-click="search(filter)"
                            ng-disabled="clicking"
                            data-loading-text="Recherche en cours...">Rechercher</button>
                </div>
            </form>

            <form ng-if="filteredDistance" name="filterDist" class="form-inline col-md-4" novalidate>
                <fieldset>
                    <legend>Rayon</legend>
                    <div class="control-group" ng-class="{true:'has-error', false:''}[filterDist.rayon.$dirty && filterDist.rayon.$invalid]">
                        <label for="rayon" class="control-label">Rayon de recherche (km)</label>
                        <div class="controls">
                            <input id="rayon" type="number" name="rayon" ng-model="filterD.rayon" ng-pattern="/^[1-9][0-9]*$/" required>
                            <span class="help-inline" ng-show="filterDist.rayon.$dirty && filterDist.rayon.$error.pattern">Nombre positif attendu</span>
                            <span class="help-block"><p ng-class="{true:'',false:'text-muted'}[filterDist.rayon.$dirty && filterDist.rayon.$invalid]">Entrez un nombre valide.</p></span>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button id="btn-search-distance"
                            class="btn btn-primary"
                            ng-click="filterFromDistance(filterD)"
                            ng-disabled="filterDist.$invalid || clicking"
                            data-loading-text="Recherche en cours...">Rechercher</button>
                </div>
            </form>
        </div>
    </div>

    <p>

        &nbsp; <br><br>
        <br>
    </p>

</div>




</div>
</div> 


