<div class="row-fluid">
    <div class="col-md-12 backTest " >
        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest medium-height">
        <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

        <div ng-show="loaded" id='calendar'></div>
        <div ng-show="loaded">
            <a class="btn btn-primary" ng-href="#/details-offre/{{annonceLocation.id}}">D&eacute;tails de ma location</a>
        </div>
    </div>
</div>