<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest medium-height">

        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="alert alert-warning alert-dismissable" ng-show="info">
            <button type="button" class="close" ng-click="info = false">&times;</button>
            {{infoMessage}}
        </div>

        <div ng-show="clicking" class="alert alert-info">Action en cours...</div>

        <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

        <div ng-show="loaded && !clicking">
            <div>
                <h4 class="text-center text-info">{{filteredAnnoncePublicitaires.length}} publicit&eacute;<span ng-show="filteredAnnoncePublicitaires.length > 1">s</span> en attente de validation.
                </h4>
            </div>
        </div>

        <div ng-show="!clicking" class="visible-lg col-lg-3 pull-right">
            <div class="input-group">
                <input type="search" data-i-search-input="true" class="form-control"
                       data-autocomplete="true" placeholder="URL"
                       ng-model="query" ng-change="search()">
                <span class="input-group-btn"><button class="btn btn-primary" type="submit">Rechercher</button></span>
            </div>
        </div>
        <br><br>

        <div ng-show="!clicking" class="col-lg-12">
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-1">Action</th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'url']" ng-click="changeSorting('url')">
                            <i ng-show="sort.column == 'url'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>URL</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="annoncePublicitaire in pagedAnnoncePublicitaires[currentPage] | filter:query | orderBy:sort.column:sort.descending">
                        <td>
                            <a class="btn btn-primary btn-xs" ng-href="#/annoncePublicitaire/edit/admin/{{annoncePublicitaire.id}}">Refuser</a>
                            <button ng-disabled="clicking" class="btn btn-warning btn-xs" ng-click="valider(annoncePublicitaire)">Valider</button>
                            <a class="btn btn-info btn-xs" ng-href="#/details-pub/{{annoncePublicitaire.id}}">D&eacute;tails</a>
                        </td>
                        <td>{{annoncePublicitaire.url}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div>
                <ul class="pagination pull-right">
                    <li>
                        <a title="Première page" href ng-click="firstPage()">&laquo;</a>
                    </li>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">&larr; Pr&eacute;c&eacute;dent</a>
                    </li>
                    <li class="current">
                        <a>Affichage de {{currentPage*annoncePublicitairesByPage+1}} &agrave; {{(currentPage+1)*annoncePublicitairesByPage}} de {{annoncePublicitaires.length}}</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Suivant &rarr;</a>
                    </li>
                    <li>
                        <a title="Dernière page" href ng-click="lastPage()">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>