<ul class="list-group">
    <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Accueil
    </a>
    <a href="#/publicite/create" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Nouvelle publicité
    </a>
    <a href="#/publicitaire/edit/{{id}}" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        Profil
    </a>
    <a href ng-click="disconnect()" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        D&eacute;connexion
    </a>
</ul>