<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest " style="height: 790px;">

        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="alert alert-warning alert-dismissable" ng-show="info">
            <button type="button" class="close" ng-click="info = false">&times;</button>
            {{infoMessage}}
        </div>

        <div ng-show="!loaded" class="alert alert-info">Chargement...</div>

        <div ng-show="loaded">
            <div>
                <h4 class="text-center text-info">{{filteredQuestionnaires.length}} questionnaire<span ng-show="filteredQuestionnaires.length > 1">s</span>.
                </h4>
            </div>
        </div>

        <div class="col-lg-12">
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="col-lg-1">Action</th>
                        <th class="col-lg-1" ng-class="{true:'currentSort',false:''}[sort.column == 'id']" ng-click="changeSorting('id')">
                            <i ng-show="sort.column == 'id'" ng-class="{true:'glyphicon glyphicon-arrow-down', false:'glyphicon glyphicon-arrow-up'}[sort.descending]"></i>
                            <a>Identifiant</a>
                        </th>
                        <th class="col-lg-1">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="questionnaire in pagedQuestionnaires[currentPage] | filter:query | orderBy:sort.column:sort.descending">
                        <td>
                            <a class="btn btn-info btn-xs" ng-href="#/questionnaire/details/{{questionnaire.id}}">D&eacute;tails</a>
                        </td>
                        <td>{{questionnaire.id}}</td>
                        <td>
                            <button ng-disabled="clicking" class="btn btn-danger btn-xs" ng-click="remove(accueillant, questionnaire)">Supprimer</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div>
                <ul class="pagination pull-right">
                    <li>
                        <a title="Première page" href ng-click="firstPage()">&laquo;</a>
                    </li>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">&larr; Pr&eacute;c&eacute;dent</a>
                    </li>
                    <li class="current">
                        <a>Affichage de {{currentPage*questionnairesByPage+1}} &agrave; {{(currentPage+1)*questionnairesByPage}} de {{questionnaires.length}}</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Suivant &rarr;</a>
                    </li>
                    <li>
                        <a title="Dernière page" href ng-click="lastPage()">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>