<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest " style="height: 790px;">
        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="text-info">
            <p>1 &eacute;toile = Pas satisfait du tout</p>
            <p>5 &eacute;toiles = Très satisfait</p>
            <br/>
        </div>

        <form>
            <div ng-repeat="r in questionnaire.reponseQuestionnaire">
                <fieldset>
                    <legend>Question {{$index + 1}}</legend>
                    <p>
                        {{r.questionQuestionnaire.question}}
                        <rating class="gold" readonly="true" value="r.reponse"></rating>
                    </p>
                </fieldset>
            </div>
        </form>
    </div>
</div>