<div class="row-fluid">
    <div class="col-md-12 backTest " >



        <p>&nbsp;

        </p>
    </div>

</div>

<div class="row-fluid">

    <div ng-include src="'/partials/user-menu.html'" class="col-md-4 cell-layout backTest medium-height"></div>

    <div class="col-md-8 cell-layout backTest " style="height: 790px;">
        <div class="alert alert-danger alert-dismissable" ng-show="error">
            <button type="button" class="close" ng-click="error = false">&times;</button>
            {{errorMessage}}
        </div>

        <div class="text-info">
            <p>1 &eacute;toile = Pas satisfait du tout</p>
            <p>5 &eacute;toiles = Très satisfait</p>
            <br/>
            <p ng-show="notes.length < 5" class="text-warning">Vous devez r&eacute;pondre &agrave; toutes les questions.</p>
        </div>

        <div ng-show="clicking" class="alert alert-info">Soumission du questionnaire...</div>

        <form ng-show="!clicking">
            <div ng-repeat="q in questions">
                <fieldset>
                    <legend>Question {{$index + 1}}</legend>
                    <p>
                        {{q.question}}
                        <rating class="gold" readonly="false" value="notes[$index]"></rating>
                    </p>
                </fieldset>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-disabled="clicking || (notes.length < 5)" ng-click="soumettre()">
                    Soumettre
                </button>
            </div>
        </form>
    </div>
</div>