<div ng-controller="MenuCtrl">
    <div ng-switch="role">
        <div ng-switch-when="PUBLICITAIRE">
            <div ng-include src="'/partials/publicitaire-menu.html'"></div>
        </div>
        <div ng-switch-when="ACCUEILLANT">
            <div ng-include src="'/partials/accueillant-menu.html'"></div>
        </div>
        <div ng-switch-when="ADMINISTRATEUR">
            <div ng-include src="'/partials/administrateur-menu.html'"></div>
        </div>
        <ANY ng-switch-default>
            <div ng-include src="'/partials/connexion.html'"></div>
        </ANY>
    </div>
</div>